<!-- .form -->
<form>
  <!-- .fieldset -->
  <fieldset>
    <!--<legend><a href="https://www.hostero.eu/coins/credits" target="_blank">Credits</a></legend>-->
    <!-- .form-group -->
    <div class="form-group">
      <label for="lbl5">Address / Username</label>
      <input type="text" class="form-control" id="lbl5" ng-model="ctrl.wallets.wallet_credits" required=""> </div>
    <!-- /.form-group -->
    <!-- .form-group -->
    <div class="form-group">
      <label for="lbl6">Password (optional)</label>
      <input type="password" class="form-control" id="lbl6" ng-model="ctrl.wallets.password_credits" required="" autocomplete="off">
    </div>
    <!-- /.form-group -->
    <!-- .form-group -->
    <div class="form-group">
      <label for="lbl7">Mining Pool URL</label>
      <input type="text" class="form-control" id="lbl7" ng-model="ctrl.wallets.mining_pool_url_credits" required=""></input>
    </div>
    <!-- /.form-group -->
  </fieldset>
  <!-- /.fieldset -->
</form>
<!-- /.form -->

<a href="https://crds.suprnova.cc/index.php?page=gettingstarted" target="_blank">Tutorial to create a wallet for Credits</a>
