<!-- .form -->
<form>
  <!-- .fieldset -->
  <fieldset>
    <!--<legend><a href="https://www.hostero.eu/coins/webchain" target="_blank">WebChain</a></legend>-->
    <!-- .form-group -->
    <div class="form-group">
      <label for="lbl5">Address</label>
      <input type="text" class="form-control" id="lbl5" ng-model="ctrl.wallets.wallet_webchain" required=""> </div>
    <!-- /.form-group -->
    <!-- .form-group -->
    <div class="form-group">
      <label for="lbl6">Password</label>
      <input type="password" class="form-control" id="lbl6" ng-model="ctrl.wallets.password_webchain" required="" autocomplete="off">
    </div>
    <!-- /.form-group -->
    <!-- .form-group -->
    <div class="form-group">
      <label for="lbl7">Mining Pool URL</label>
      <input type="text" class="form-control" id="lbl7" ng-model="ctrl.wallets.mining_pool_url_webchain"></input>
    </div>
    <!-- /.form-group -->
  </fieldset>
  <!-- /.fieldset -->
</form>
<!-- /.form -->

<a href="https://webchain.network/start" target="_blank">Tutorial to create a wallet for WebChain</a>
