<!-- .page -->
<div class="page">
  <!-- .page-inner -->
  <div class="page-inner">
    <!-- .page-title-bar -->
    <header class="page-title-bar">
      <h1 class="page-title"> Account
        <small class="badge">{{plan | ucfirst}}</small>
      </h1>
    </header>

    <div class="page-section">
      <div class="row">
        <div class="col-6">
          <div class="card card-fluid">
            <div class="card-body">
              <h4 class="card-title">Details</h4>
              <hr />
              <p><strong>Email:</strong> {{profile.email}}</p>
              <p><strong>Name:</strong> {{profile.name}}</p>
              <p><strong>Account ID:</strong> {{global_account.name}}</p>
              <p><strong>Server ID:</strong> {{account.rancher_uri}}</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <section id="switcher" class="card">
            <!-- .card-body -->
            <div class="card-body">
              <h3 class="card-title"> Referral fee </h3>
              <hr />
              <p>Miners deployed via the Staking application have a referral fee.</p>
              <p><small>The referral fee is set by the pool owner. Most of the pools have a fee between 2 to 5 percent.</small></p>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- /.page-section -->
  </div>
  <!-- /.page-inner -->
</div>
<!-- /.page -->
