<!-- .page -->
<div class="page">
  <!-- .page-inner -->
  <div class="page-inner">
    <!-- .page-section -->
    <div class="page-section">
      <div class="row">
        <!-- grid column -->
        <div class="col-lg-4">
          <!-- .card -->
          <div class="card card-fluid">
            <h6 class="card-header">Billing</h6>
            <!-- .nav -->
            <nav class="nav nav-tabs flex-column">
              <a ui-sref="billing" class="nav-link" ng-class="{active: state.current.name == 'billing'}">PayPal</a>
              <a ui-sref="billing.webdollar" class="nav-link" ng-class="{active: state.current.name == 'billing.webdollar'}">WebDollar</a>
              <a ui-sref="billing.history" class="nav-link" ng-class="{active: state.current.name == 'billing.history'}">Payments History</a>
            </nav>
            <!-- /.nav -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /grid column -->
        <!-- grid column -->
        <div class="col-lg-8">
          <div ng-if="state.current.name === 'billing'">
            <section id="switcher" class="card">
              <!-- .card-body -->
              <div class="card-body">
                <h3 class="card-title"> Subscribe </h3>
                <hr />
                <p>You are on the <strong><a ui-sref="account">{{plan | ucfirst}}</a></strong> plan. Select a new plan below and click Subscribe.</p>

                <center>
                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="FVTLL5JVVUFD2">
                    <table>
                      <tr>
                        <td><input type="hidden" name="on0" value="Plans">Plans</td>
                      </tr>
                      <tr>
                        <td><select name="os0">
                      	<option value="Hobby">Hobby : €1.99 EUR - monthly</option>
                      	<option value="Miner">Miner : €9.99 EUR - monthly</option>
                      	<option value="Farm">Farm : €49.99 EUR - monthly</option>
                      </select> </td>
                      </tr>
                    </table>
                    <input type="hidden" name="currency_code" value="EUR">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                  </form>

                  <p><small>You can also make a <a href="https://paypal.me/hostero" target="_blank">one-time payment</a>.</small></p>
                  <br />
                  <p><small>Pay from a PayPal account registered with the email: <strong>{{global_account.email}}</strong>.</small></p>
                  <p><small>Read more about our <a href="https://www.hostero.eu/pricing" target="_blank">subscription plans</a>.</small></p>
                </center>
              </div>
            </section>

            <section id="switcher" class="card" ng-if="account.plan_miners != 1 && last_payment_gateway == 'paypal'">
              <!-- .card-body -->
              <div class="card-body">
                <h3 class="card-title"> Unsubscribe </h3>
                <p>Your PayPal account is getting charged automatically every month.</p>
                <p>
                  <A HREF="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=9ATLAKYSX5TD8">
                    <IMG SRC="https://www.paypalobjects.com/en_US/i/btn/btn_unsubscribe_LG.gif" BORDER="0">
                  </A>
                </p>
              </div>
            </section>
          </div>
          <div ng-if="state.current.name === 'billing.webdollar'">
            <section id="switcher" class="card">
              <!-- .card-body -->
              <div class="card-body">
                <h3 class="card-title"> WebDollar </h3>
                <hr />
                <p>You are on the <strong><a ui-sref="account">{{plan | ucfirst}}</a></strong> plan. Select a new plan below and make a payment.</p>

                <center>
                  <select ng-model="selected.plan" ng-change="set_webdollar_amount()">
                    <option value="hobby" selected="">Hobby : €1.99 EUR - monthly</option>
                    <option value="miner">Miner : €9.99 EUR - monthly</option>
                    <option value="farm">Farm : €49.99 EUR - monthly</option>
                  </select>

                  <br />
                  <br />

                  <p>Send the exact WEBD amount</p>
                  <h4><a href="https://webdollar.io/payment/WEBD$gCET26qgUFLE5dNUo8aGrn0ZPGQQueFYuj$/{{webdollar_amount}}.{{selected.plan_id}}{{global_account.id}}" target="_blank">{{webdollar_amount}}.{{selected.plan_id}}{{global_account.id}}</a></h4>
                  <p>to wallet</p>
                  <h6>WEBD$gCET26qgUFLE5dNUo8aGrn0ZPGQQueFYuj$</h6>

                  <br />

                  <p><small>You need to pay the exact amount specified above, otherwise the payment won't get registered.</small></p>
                  <p><small>Read more about our <a href="https://www.hostero.eu/pricing" target="_blank">subscription plans</a>.</small></p>
                </center>
              </div>
            </section>

            <div class="alert alert-secondary has-icon" role="alert">
              <div class="alert-icon">
                <span class="fa fa-info"></span>
              </div>
              <strong>Need help?</strong><br /> Check out our <a href="https://www.hostero.eu/docs/purchase-webdollar" class="alert-link" target="_blank">guide</a> for purchasing WEBD.
            </div>
          </div>
          <div ng-if="state.current.name === 'billing.history'">
            <section id="switcher" class="card">
              <!-- .card-body -->
              <div class="card-body">
                <h3 class="card-title"> Payments History </h3>
                <hr />
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Gateway</th>
                      <th>Amount</th>
                      <th>Date</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="payment in payments">
                      <td>{{payment.id}}</td>
                      <td>{{payment.gateway | ucfirst}}</td>
                      <td>
                        <span ng-if="payment.gateway != 'webdollar'">{{payment.amount | currency: '€'}}</span>
                        <span ng-if="payment.gateway == 'webdollar'">{{payment.amount}} WEBD</span>
                      </td>
                      <td>{{payment.created_at | date}}</td>
                      <td>{{payment.description}}</td>
                    </tr>
                    <tr ng-if="payments != null && !payments.length">
                      <td colspan="5">
                        <center>No payments.</center>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <!-- /.page-section -->
  </div>
  <!-- /.page-inner -->
</div>
<!-- /.page -->
