<!-- .page -->
<div class="page">
  <!-- .page-inner -->
  <div class="page-inner">
    <!-- .page-title-bar -->
    <header class="page-title-bar">
      <h1 class="page-title"> Coins
        <small class="badge">{{coins.length}} Totals</small>
      </h1>
    </header>
    <!-- /.page-title-bar -->
    <!-- .page-section -->
    <div class="page-section">
      <!-- grid row -->
      <div class="row">
        <!-- grid column -->
        <div class="col-lg-6 col-xl-4" ng-repeat="coin in coins">
          <!-- .card -->
          <div class="card card-fluid">
            <!-- .card-header -->
            <header class="card-header border-0">
              <div class="d-flex justify-content-between align-items-center">
                <div class="text-muted font-weight-normal small"> {{coin.released_date}} </div>
                <div class="dropdown">
                  <button type="button" class="btn btn-sm btn-light" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-ellipsis-v"></i>
                  </button>
                  <div class="dropdown-arrow"></div>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a href="{{coin.explorer_url}}" target="_blank" class="dropdown-item" ng-if="coin.explorer_url">Explorer</a>
                    <a href="{{coin.cmc_url}}" target="_blank" class="dropdown-item" ng-if="coin.cmc_url">CoinMarketCap</a>
                    <a href="{{coin.statistics_url}}" target="_blank" class="dropdown-item" ng-if="coin.statistics_url">Stats</a>
                    <a href="{{coin.calculator_url}}" target="_blank" class="dropdown-item" ng-if="coin.calculator_url">Calculator</a>
                    <a href="{{coin.pools_url}}" target="_blank" class="dropdown-item" ng-if="coin.pools_url">Mining Pools</a>
                    <a href="{{coin.exchange_url}}" target="_blank" class="dropdown-item" ng-if="coin.exchange_url">Exchange</a>
                  </div>
                </div>
              </div>
            </header>
            <!-- /.card-header -->
            <!-- .card-body -->
            <div class="card-body text-center">
              <!-- avatars -->
              <div class="has-badge mb-3">
                <a href="{{coin.website_url}}" target="_blank" class="tile tile-lg bg-{{coin.color}}">{{coin.short_name}}</a>
                <br />
              </div>
              <!-- /avatars -->
              <!-- /.media -->
              <h5 class="card-title">
                <a href="{{coin.website_url}}" target="_blank">{{coin.name}}</a>
              </h5>
              <p class="card-subtitle text-muted">
                <strong>{{coin.description}}</strong><br />
                <span ng-if="coin.cpu_only">CPU Only, </span>{{coin.algorithm}}
              </p>
              <!-- team members -->
              <div class="avatar-group my-3">
              </div>
              <!-- /team members -->
              <!-- grid row -->
              <div class="row">
                <!-- grid column -->
                <div class="col">
                  <strong>Supply</strong>
                  <span class="d-block">{{coin.supply | number}}<span ng-if="!coin.fixed_supply">+</span></span>
                </div>
                <!-- /grid column -->
                <!-- grid column -->
                <div class="col">
                  <strong>Network</strong>
                  <span class="d-block">{{coin.network_hashrate}} MH/s</span>
                </div>
                <!-- /grid column -->
              </div>
              <!-- /grid row -->
            </div>
            <!-- /.card-body -->
            <!-- .progress -->
            <div class="progress progress-xs" data-toggle="tooltip" title="74%">
              <div class="progress-bar bg-{{coin.color}}" role="progressbar" aria-valuenow="2181" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">100% Complete</span>
              </div>
            </div>
            <!-- /.progress -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /grid column -->
      </div>
      <!-- /grid row -->
    </div>
    <!-- /.page-section -->
  </div>
  <!-- /.page-inner -->
</div>
<!-- /.page -->
