<!-- .page -->
<div class="page has-sidebar">
  <!-- .page-inner -->
  <div class="page-inner">
    <p>The installation page was moved to <a href="https://www.hostero.eu/getting-started" target="_blank">Getting Started</a>.</p>
  </div>
  <!-- /.page-inner -->

  <!-- .page-sidebar -->
  <div class="page-sidebar page-sidebar-fixed">
    <!-- .nav -->
    <nav id="nav-content" class="nav flex-column mt-4">
      <a href="https://www.hostero.eu/getting-started" target="_blank" class="nav-link">Getting Started Guide</a>
      <a href="https://www.hostero.eu/cpu-mineable-coins" target="_blank" class="nav-link">CPU Mineable Coins</a>
    </nav>
    <!-- /.nav -->
  </div>
  <!-- /.page-sidebar -->
</div>
<!-- /.page -->
