<!-- .page -->
<div class="page has-sidebar">
  <!-- .page-inner -->
  <div class="page-inner">
    <!-- #accordion -->
    <div id="accordion" class="card-expansion">
      <!-- .card -->
      <section class="card card-expansion-item">
        <header class="card-header border-0" id="headingOne">
          <button class="btn btn-reset collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <span class="collapse-indicator mr-2">
              <i class="fa fa-fw fa-caret-right"></i>
            </span>
            <span>Requirements</span>
          </button>
        </header>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <h4 class="card-title">Minimum</h4>

            <!-- .list-group -->
            <ul class="list-group list-group-flush list-group-bordered border-top border-bottom">
              <li class="list-group-item">Internet connectivity</li>
              <li class="list-group-item">Operating System</li>
              <li class="list-group-item">
                <ul>
                  <li>Ubuntu: 16.04 or 18.04 (recommended)</li>
                  <li>Windows 10 64bit: Pro, Enterprise or Education (experimental)</li>
                </ul>
              </li>
              <li class="list-group-item">Docker</li>
              <li class="list-group-item">
                <ul>
                  <li>17.06.x-ee (recommended)</li>
                  <li><a href="https://rancher.com/docs/rancher/v1.6/en/hosts/#supported-docker-versions" target="_blank">all supported versions</a> (experimental)</li>
                </ul>
              </li>
              <li class="list-group-item">1 GiB Storage</li>
              <li class="list-group-item">1 GiB RAM</li>
            </ul>
            <!-- /.list-group -->
          </div>
        </div>
      </section>
      <!-- /.card -->
      <!-- .card -->
      <section class="card card-expansion-item expanded">
        <header class="card-header border-0" id="headingTwo">
          <button class="btn btn-reset" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <span class="collapse-indicator mr-2">
              <i class="fa fa-fw fa-caret-right"></i>
            </span>
            <span>Installation (Beginner)</span>
          </button>
        </header>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
          <!-- .card-body -->
          <div class="card-body">
            <h4 class="card-title">Beginner guide</h4>
            <h6 class="card-subtitle mb-2">Hostero requires Docker to work. The installer will install Docker as well.</h6>
            <hr />

            <p><strong>Install the Universal Miner</strong></p>

            <p>Run this command in the Terminal:</p>

            <div class="alert alert-primary has-icon" role="alert">
              <div class="alert-icon">
                <span class="fa fa-code"></span>
              </div>
              <span>curl https://www.hostero.eu/install?a={{account.name || 'ACCOUNT_ID'}} | sh</span>
            </div>

            <!--
            <input type="text" id="install" value="curl https://www.hostero.eu/install?a={{account.name}} | sh" class="hide" />

            <button class="btn btn-primary btn-xs" ngclipboard data-clipboard-target="#install">
              <i class="fa fa-copy"></i> Copy
            </button>
            -->
          </div>
          <!-- /.card-body -->
        </div>
      </section>
      <!-- /.card -->
      <section class="card card-expansion-item">
        <header class="card-header border-0" id="headingFour">
          <button class="btn btn-reset" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <span class="collapse-indicator mr-2">
              <i class="fa fa-fw fa-caret-right"></i>
            </span>
            <span>Installation (Advanced)</span>
          </button>
        </header>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <!-- .card-body -->
          <div class="card-body">
            <h4 class="card-title">Advanced guide</h4>
            <h6 class="card-subtitle mb-2">Hostero requires Docker to work. We recommend to install Docker via our script, but you can install it using alternative ways as well (<a href="https://rancher.com/docs/rancher/v1.6/en/hosts/#supported-docker-versions" target="_blank">supported versions</a>).</h6>
            <hr />

            <p><a class="tile tile-circle">1</a> <strong>Install Docker</strong></p>
            <p>Run this command in the Terminal:</p>

            <p>Ubuntu 16.04</p>
            <div class="alert alert-primary has-icon" role="alert">
              <div class="alert-icon">
                <span class="fa fa-code"></span>
              </div>
              <span>curl https://releases.rancher.com/install-docker/17.12.sh | sh</span>
            </div>

            <p>Ubuntu 18.04</p>
            <div class="alert alert-primary has-icon" role="alert">
              <div class="alert-icon">
                <span class="fa fa-code"></span>
              </div>
              <span>curl https://releases.rancher.com/install-docker/18.06.sh | sh</span>
            </div>

            <p>&nbsp;</p>

            <p><a class="tile tile-circle">2</a> <strong>Install Hostero</strong></p>
            <p>Run this command in the Terminal:</p>

            <div class="alert alert-primary has-icon" role="alert">
              <div class="alert-icon">
                <span class="fa fa-code"></span>
              </div>
              <span>docker run -e CATTLE_HOST_LABELS="account={{account.name || 'ACCOUNT_ID'}}" --rm --privileged -v /var/run/docker.sock:/var/run/docker.sock -v /var/lib/rancher:/var/lib/rancher rancher/agent:v1.2.9 http://infra.hostero.eu:8080/v1/scripts/2E28C27EE87F5E1A6B7F:1514678400000:ShibdGaXFOlmN3QGGHj1UFuP1lU</span>
            </div>

            <p>&nbsp;</p>

            <p><strong>Notes</strong></p>
            <p>If everything goes well and the device doesn't show up in Hostero after a couple of minutes, try running this command in the Terminal:</p>
            <div class="alert alert-primary has-icon" role="alert">
              <div class="alert-icon">
                <span class="fa fa-code"></span>
              </div>
              <span>mkdir -p /etc/docker; echo '{"dns": ["8.8.8.8", "8.8.4.4"]}' > /etc/docker/daemon.json; service docker restart</span>
            </div>

            <!--
            <input type="text" id="install" value="curl https://www.hostero.eu/install?a={{account.name}} | sh" class="hide" />

            <button class="btn btn-primary btn-xs" ngclipboard data-clipboard-target="#install">
              <i class="fa fa-copy"></i> Copy
            </button>
            -->
          </div>
          <!-- /.card-body -->
        </div>
      </section>
      <!-- /.card -->
      <!-- .card -->
      <section class="card card-expansion-item">
        <header class="card-header border-0" id="headingThree">
          <button class="btn btn-reset collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <span class="collapse-indicator mr-2">
              <i class="fa fa-fw fa-caret-right"></i>
            </span>
            <span>Startup Script (Optional)</span>
          </button>
        </header>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <h4 class="card-title">Optional</h4>
            <h6 class="card-subtitle mb-2">Cloud providers have an option to set a startup script. The script will execute after the VPS is created, so you don't have to manually install it.</h6>
            <hr />
            <p>Add this script to user data:</p>

            <div class="alert alert-primary has-icon" role="alert">
              <div class="alert-icon">
                <span class="fa fa-code"></span>
              </div>
              <span>#!/bin/bash<br />curl https://www.hostero.eu/install?a={{account.name || 'ACCOUNT_ID'}} | sh</span>
            </div>
          </div>
        </div>
      </section>
      <!-- /.card -->
    </div>
    <!-- /#accordion -->

    <p ng-if="isAuthenticated"><strong>Note</strong>: The commands are specific to your account, do not share them with others</p>
    <p ng-if="!isAuthenticated"><strong>Important</strong>: Replace <i>ACCOUNT_ID</i> with yours. You need to <a ui-sref="login">Login</a>.</p>
  </div>
  <!-- /.page-inner -->

  <!-- .page-sidebar -->
  <div class="page-sidebar page-sidebar-fixed">
    <!-- .nav -->
    <nav id="nav-content" class="nav flex-column mt-4">
      <a href="https://www.hostero.eu/getting-started" target="_blank" class="nav-link">Getting Started Guide</a>
      <a href="https://www.hostero.eu/cpu-mineable-coins" target="_blank" class="nav-link">CPU Mineable Coins</a>
    </nav>
    <!-- /.nav -->
  </div>
  <!-- /.page-sidebar -->
</div>
<!-- /.page -->
