<!-- .page -->
<div class="page">
  <!-- .page-inner -->
  <div class="page-inner">
    <!-- .page-title-bar -->
    <header class="page-title-bar">
      <h1 class="page-title">Deploy miner</h1>
    </header>
    <!-- /.page-title-bar -->
    <!-- .page-section -->
    <div class="page-section">
      <div class="card card-fluid">
        <div class="card-body">
          <h4 class="card-title">Server</h4>
          <hr />
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <select class="custom-select" id="host" required="required" ng-model="ctrl.selected_host_id" ng-change="ctrl.update_name()">
                  <option ng-repeat="host in ctrl.hosts | filter:{user_id: 'shared'}" value="{{host.id}}">{{host.name}}</option>
                  <option value="">Choose...</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page-section">
      <div class="card card-fluid">
        <div class="card-body">
          <h4 class="card-title">Name</h4>
          <hr />
          <!-- .form -->
          <form>
            <!-- .fieldset -->
            <fieldset>
              <!-- .form-group -->
              <div class="form-group">
                <input type="text" class="form-control" ng-model="ctrl.name" placeholder="miner#1234">
              </div>
              <!-- /.form-group -->
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <div class="page-section">
      <div class="card card-fluid">
        <div class="card-body">
          <h4 class="card-title">Mining pool and wallet</h4>
          <hr />
          <div ng-include src="'views/wallets/' + ctrl.wallets.auto_deploy_coin + '.html'"></div>
        </div>
      </div>
    </div>

    <hr class="my-5" />

    <div class="row">
      <div class="col-sm">
        <button class="btn btn-outline-secondary btn-lg btn-block" ui-sref="miners">Cancel</button>
      </div>
      <div class="col-sm">
        <button class="btn btn-success btn-lg btn-block" ng-click="ctrl.deploy()" ng-if="global_miners.length < (global_account.plan_miners_staking + global_account.bonus_miners_staking)">
          <i class="fas fa-plus"></i> Deploy
        </button>
        <button class="btn btn-primary btn-lg btn-block" ui-sref="billing" ng-if="global_miners.length >= (global_account.plan_miners_staking + global_account.bonus_miners_staking)">
          <i class="fas fa-shopping-cart"></i> Upgrade
        </button>
      </div>
    </div>
    <!-- /.page-section -->
  </div>
  <!-- /.page-inner -->
</div>
<!-- /.page -->
