<!-- .page -->
<div class="page">
  <!-- .page-inner -->
  <div class="page-inner">
    <!-- .page-title-bar -->
    <header class="page-title-bar">
      <h1 class="page-title">Deploy Miner</h1>
    </header>
    <!-- /.page-title-bar -->

    <div class="page-section">
      <div class="card card-fluid">
        <div class="card-body">
          <h4 class="card-title">Select device</h4>
          <hr />
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <label for="host">Device</label>
                <select class="custom-select" id="host" required="required" ng-model="ctrl.selected_host_id" ng-change="ctrl.update_threads()">
                  <option ng-repeat="host in ctrl.hosts | filter:{user_id: '!shared'}" value="{{host.id}}">{{host.name}}</option>
                  <option value="">Choose...</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="threads">Threads</label>
                <input type="number" class="form-control" id="threads" ng-model="ctrl.threads" required="" placeholder="Pick a host" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page-section">
      <div class="card card-fluid">
        <div class="card-body">
          <h4 class="card-title">Processor flag</h4>
          <hr />
          <!-- .section-block -->
          <div class="section-block text-center text-sm-left">
            <!-- .visual-picker -->
            <div class="visual-picker visual-picker-sm has-peek px-3">
              <!-- visual-picker input -->
              <input type="radio" id="avx2" name="processor" value="avx2" ng-model="ctrl.wallets.default_processor" />
              <!-- .visual-picker-figure -->
              <label class="visual-picker-figure" for="avx2">
                <!-- .visual-picker-content -->
                <span class="visual-picker-content">
                  <span class="tile tile-sm bg-gray">
                    <i class="fa fa-microchip"></i>
                  </span>
                </span>
                <!-- /.visual-picker-content -->
              </label>
              <!-- /.visual-picker-figure -->
              <!-- .visual-picker-peek -->
              <span class="visual-picker-peek">AVX2 (new)</span>
            </div>
            <!-- /.visual-picker -->
            <!-- .visual-picker -->
            <div class="visual-picker visual-picker-sm has-peek px-3">
              <!-- visual-picker input -->
              <input type="radio" id="sse2" name="processor" value="sse2" ng-model="ctrl.wallets.default_processor" />
              <!-- .visual-picker-figure -->
              <label class="visual-picker-figure" for="sse2">
                <!-- .visual-picker-content -->
                <span class="visual-picker-content">
                  <span class="tile tile-sm bg-gray">
                    <i class="fa fa-microchip"></i>
                  </span>
                </span>
                <!-- /.visual-picker-content -->
              </label>
              <!-- /.visual-picker-figure -->
              <!-- .visual-picker-peek -->
              <span class="visual-picker-peek">SSE2 (old)</span>
            </div>
            <!-- /.visual-picker -->
          </div>
          <!-- /.section-block -->
        </div>
      </div>
    </div>


    <div class="page-section">
      <div class="card card-fluid">
        <div class="card-body">
          <h4 class="card-title">Select coin</h4>
          <hr />
          <!-- .section-block -->
          <div class="section-block text-center text-sm-left">
            <!-- .visual-picker -->
            <div class="visual-picker visual-picker-sm has-peek px-3" ng-repeat="coin in global_coins">
              <!-- visual-picker input -->
              <input type="radio" id="{{coin.internal_name}}" name="coin" value="{{coin.internal_name}}" ng-model="ctrl.wallets.auto_deploy_coin" />
              <!-- .visual-picker-figure -->
              <label class="visual-picker-figure" for="{{coin.internal_name}}">
                <!-- .visual-picker-content -->
                <span class="visual-picker-content">
                  <span class="tile tile-sm bg-{{coin.color}}">
                    <i class="fa fa-money-bill-alt"></i>
                  </span>
                </span>
                <!-- /.visual-picker-content -->
              </label>
              <!-- /.visual-picker-figure -->
              <!-- .visual-picker-peek -->
              <span class="visual-picker-peek">{{coin.name}}</span>
            </div>
            <!-- /.visual-picker -->
          </div>
          <!-- /.section-block -->
        </div>
      </div>
    </div>

    <div class="page-section">
      <div class="card card-fluid">
        <div class="card-body">
          <h4 class="card-title">Set wallet</h4>
          <hr />
          <p><a href="" ng-click="ctrl.show_wallet = !ctrl.show_wallet">Overwrite wallet's default settings</a></p>

          <div ng-include src="'views/wallets/' + ctrl.wallets.auto_deploy_coin + '.html'" ng-show="ctrl.show_wallet"></div>
        </div>
      </div>
    </div>

    <hr class="my-5" />
    <div class="row">
      <div class="col-sm">
        <button class="btn btn-outline-secondary btn-lg btn-block" ui-sref="miners">Cancel</button>
      </div>
      <div class="col-sm">
        <button class="btn btn-primary btn-lg btn-block" ng-click="ctrl.deploy()">Deploy</button>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /.page-section -->
</div>
<!-- /.page-inner -->
</div>
<!-- /.page -->
